:root {
	--white: white;
	--black: black;
	--grey: lightgrey;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: var(--black);
	font-family: 'Made Outer Sans Regular';
	color: var(--white);
}

@font-face {
	font-family: 'Made Outer Sans Medium';
	src: url('assets/fonts/made-outer-sans/made-outer-sans-medium.otf');
}
@font-face {
	font-family: 'Made Outer Sans Regular';
	src: url('assets/fonts/made-outer-sans/made-outer-sans-regular.otf');
}

@font-face {
	font-family: 'Made Outer Sans Light';
	src: url('assets/fonts/made-outer-sans/made-outer-sans-light.otf');
}
